:host {
  position: relative;
  display: block;
  height: 100%;
}

mat-sidenav-container {
  block-size: 100%;
}

mat-sidenav {
  box-shadow: 0 0 3px var(--shadow-color);
  background-color: var(--mat-sys-surface-container);
  border-radius: 0 !important;
  padding: 1rem;
}

mat-sidenav-content {
  padding: 1rem;
  box-sizing: border-box;
}

.toggle-sidenav-btn {
  border: 1px solid var(--mat-sys-primary);
  width: 30px;
  height: 30px;
  line-height: 1rem;

  mat-icon {
    color: currentColor;
  }
}
